@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

body {
  margin: 0;
  background: #292929;
  color: #fff;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  padding: 1rem;
  font-size: 12pt;
}

.note-content {
  width: 100%;
}

.navbar .item {
  border-radius: 8px;
  transition: 200ms;
}

.navbar li {
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.navbar li:hover,
.create-btn:hover {
  font-weight: 500;
  cursor: pointer;
}

li {
  padding: 0.4rem 0;
  margin: 0.2rem 0;
}

.navbar .item:hover {
  background: #474747;
  opacity: 0.8;
}

.navbar ul {
  width: 250px;
}

main {
  display: flex;
}

aside {
  height: 100vh;
  border-right: solid 2px #444;
}

.title {
  font-family: "Just Me Again Down Here", cursive;
  border-bottom: solid 2px #444;
  font-size: 22pt;
  text-align: center;
  padding: 0;
}

.title h1 {
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item p {
  margin: 0;
}

.item:hover .delete {
  opacity: 1;
}

.delete {
  opacity: 0;
}

span {
  display: flex;
  align-items: center;
}

.checkbox-container {
  position: relative;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.checkmark {
  display: inline-block;
  background-color: #000;
  height: 100%;
  width: 100%;
}

.checkbox {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.task-completed {
  text-decoration: line-through;
  color: #555;
}

.note-content {
  padding: 20px;
}

.screen-protector {
  /* opacity: 0; */
  position: absolute;
  top: 0; left: 0;
  background: #000;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  transition: 200ms;
}

.form {
  /* opacity: 0; */
  background: #292929;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px 40px;
  width: 400px;
  transition: 200ms;
}

.form * {
  display: block;
  margin: 10px 0;
}

.form h2 {
  margin: 10px 0;
  font-size: 16pt;
}

.form input {
  background: #d9d9d9;
  border-radius: 6px;
  padding: 6px 10px;
  width: calc(100% - 20px);
  border: 0;
}

.form input:focus-visible {
  outline: 0;
}

.form .submit {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #4a4a4a;
  font-size: 12pt;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  border: 0;
}

.form .close {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
}